<div class="jumbotron">
    <h4 class="display-4"><%= title %><span><%= user.name %></span></h4>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/comments" role="button">Learn more</a>
    </p>
  </div>