<!-- <!DOCTYPE html>
<html>
<head>
	<title>EJS Template Practice</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <% include ./partials/navbar.ejs%>

    <div class="container"> -->

        
        <h3><%= title %></h3>                                                                       <!-- Add title from app.js inside squid tags(ejs tags) -->                 
        <p>Lorem ipsum dolor sit amet</p>
        
        
        <!-- <ul>
            <% users.forEach((user) => {%>
                <li><%= user.name %> | <%= user.email%></li>
            <% }) %>    
        </ul>
    </div>
    <% include ./partials/footer.ejs%>

</body>
</html> -->

