<h1>Number of jokes: <%= jokes.length %></h1>
<ul style="list-style: none">
    <%jokes.forEach((j) => {%>                                                   <!--arguement for this callback functions represent each induvidual joke (j) -->
       <li><a href="/jokes/<%= j._id%>"><%=j.setUp%></a></li>
    <%})%>
    
</ul>

