<h2>Add New Joke</h2>

<form method="POST" action="/jokes">                                                <!--Doesnt have to be capital -->
    <input type="text" name="author" placeholder="author"/>                         <!--Name should be same as the model schema-->
    <input type="text" name="setUp" placeholder="setup"/>
    <input type="text" name="punchLine" placeholder="punchline"/>
    <button>Submit</button>
    
</form>