<form>
    <div id="container">
        <p class = "form-input">Name</p>
        <input id="name" type="text" class="name-input" placeholder="Add name">
        <p class = "form-input">Email</p> 
        <input id="email" type="text" class="email-input" placeholder="Add email">
        <p class = "form-input">Password</p>        
        <input id="password" type="text" class="pass-input" placeholder="Create a password">                
        <p class = "form-input">Confirm password</p>        
        <input id="confirm-password" type="text" class="pass-input" placeholder="Confirm password">
    </div>
    
    <label class = "label"><input class = "checkedBox" type ="checkbox"/>Send me emails about great offers!</label>

    <button type="submit" class="btn"> DONE! </button>

</form>