<h1>New Post</h1>

<%= form_for @post do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_field :body, placeholder: "Post" %>
    <%= f.submit "Submit Post" %>
    
<% end %>