<p><%= @email %></p>
<p><%= @phone %></p>
<form>
      <div class="container">
          <input id="name" type="text" class="name-input" placeholder="Add name">
          <input id="title" type="text" class="email-input" placeholder="Add job title">
          <input id="email" type="text" class="email-input" placeholder="Add email">      
          <input id="comments" type="text" class="email-input" placeholder="Any comments?">

        </div>
    <button type="submit" class="btn">SUBMIT</button>

</form>
