<h2>Add New State</h2>

<form method="POST" action="/states">                                               
    <input type="text" name="state" placeholder="State name"/>                         
    <input type="text" name="capital" placeholder="Capital"/>
    <input type="text" name="knownFor" placeholder="Known For"/>
    <button>Submit</button>
    
</form>

 